<div>
<table>
	<tr>
		<th><a href="/admin/list/1?order=id">id</a></th>
		<th>Пользователь</th>
		<th>email</th>
	 	<th>Описание задачи</th>
	 	<th><a href="/admin/list/1?order=status">статус</a></th>
 	</tr>
    {% for task in tasks %}
    <tr>
    	<td>{{ task.id }}</td>
    	<td><a href="/admin/edit/{{ task.id }}">{{ task.username }}</a></td>
    	<td>{{ task.email }}</td>
    	<td>{{ task.description }}</td>
    	<td> {%if task.status==0 %}TODO{%endif%}
            {%if task.status==1 %}в работе{%endif%}
            {%if task.status==2 %}тестируется{%endif%}
            {%if task.status==3 %}сделано{%endif%}
    	</td>
    </tr>
    {% endfor %}
</table>
</div>
<div>
    {% for page in pages %}
    <a href="/admin/list/{{ page }}?order={{ order }}">{{ page }}</a> 
    {% endfor %}
</div>
